<div *ngIf="artist">
    <header class="artist-header">
        <div *ngIf="artist.images.length > 0">
            <img class="artist-thumb img-circle" src="{{artist.images[0].url}}">
        </div>
        <h1>{{artist.name}}</h1>
        <p *ngIf="artist.genres.length > 0">
            Genres: <span *ngFor="let genrer of artist.genres"> {{genrer}} </span>
        </p>
    </header>
    <div class="artist-albums">
        <div class="row">
            <div *ngFor="let album of albuns">
                <div class="col-md-3" *ngIf="album" >
                    <div class="album well">
                        <img src="{{album.images[0].url}}" class="album-thumbnail img-thumbnail">
                        <h4>{{album.name}}</h4>
                        <a routerLink="/album/{{album.id}}" class="btn btn-block btn-default">Detalhes</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>